/* Estilos para los select */
select {
    width: 100% !important;
    padding: 12px !important;
    font-size: 16px !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    appearance: none !important;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='black' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E") !important;
    background-repeat: no-repeat !important;
    background-position: right 8px center !important;
  }
  
  select option {
    background-color: rgb(178, 221, 232) !important;
    color: rgb(63, 61, 61) !important;
  }

  select:focus {
    outline: none !important;
    border-color: #007bff !important;
    box-shadow: 0 0 0 0.2rem rgba(7, 7, 223, 0.25) !important;
  }
  
  body {
  font-family: 'Time New Roman', serif;
} 

.containerjr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-containerjr {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
}

.cardjr {
  width: 100%;
  max-width: 400px;
}

.card-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
