  /* HEADING */
  
  .heading {
    text-align: center;
  }
  
  .heading__title {
    font-weight: 600;
  }
  
  .heading__credits {
    margin: 10px 0px;
    color: #888888;
    font-size: 25px;
    transition: all 0.5s;
  }
  
  .heading__link {
    text-decoration: none;
  }
  
  .heading__credits .heading__link {
    color: inherit;
  }
  
  /* CARDS */
  
 /* CARDS */
.cardsee {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardddw {
  margin: 0; /* Elimina el margen para que las tarjetas estén más cercanas */
  padding: 20px;
  width: 400px; 
  height: 250px;
  display: grid;
  border-radius: 10px;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.471);
  transition: all 0.3s;
}

  
  .cardddw:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card__link,
  .card__exit,
  .card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }
  
  .card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }
  
  .card__link:hover::after {
    width: 100%;
  }
  
  .card__exit {
    grid-row: 1/2;
    justify-self: end;
  }
  
  .card__icon {
    grid-row: 2/3;
    font-size: 30px;
  }
  
  .card__title {
    font-weight: 100;
    color: #f60808;
    text-align: center;
    font-size: 20px
  }
  
  .card__apply {
    grid-row: 4/5;
    align-self: center;
  }

  .card p {
    font-size: 14px;
  }
  
  
  /* CARD BACKGROUNDS */
  .card-1 {
    background: radial-gradient(#1fe4f5, #3fbafe);
  }
  
  .card-2 {
    background: radial-gradient(#fbc1cc, #fa99b2);
  }
  
  .card-3 {
    background: radial-gradient(#76b2fe, #b69efe);
  }
  
  .card-4 {
    background: radial-gradient(#60efbc, #58d5c9);
  }
  
  .card-5 {
    background: radial-gradient(#f588d8, #c0a3e5);
  }
  
  /* RESPONSIVE */
  
  @media (max-width: 1600px) {
    .cards {
      justify-content: center;
    }
  }

  @media (min-width: 768px) {
    .cardsee {
      justify-content: center;
      gap: 40px; 
    }
  }
  
  @media (max-width: 767px) {
    .cardsee {
      justify-content: flex-start;
      flex-direction: column;
      gap: 20px; 
    }
    .cardddw {
      margin: auto; /* Centrar las tarjetas en modo responsive */
    }
  }

  /* TABLA DE ADMIN */
  .table-container{
    width: 70%;
    margin-left: 15%;
  }

.btn-small {
  font-size: 12px;
  padding: 1px ;
}
