  
  .btn-editar {
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    margin-left: 39%;
    margin-top: -5%;
    background-color: #dc3545;
    border-color: #dc3545;
  }

  .btn-editar:hover{
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    margin-left: 39%;
    margin-top: -5%;
    background-color: #8f131f;
    border-color: #8f131f;
  }

  /* .list-group{
    margin-top: -05% !important;
    text-align: center;
  } */

  .card-donaciones{
    height: 200%;
  }
  .card-info{
    height: 100%;
  }